<div class="row">
  <header>User management table</header>
<!--  <table class="messagesTable table table-hover">-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th style="width: 30%">Username</th>-->
<!--        <th style="width: 50%">Active Roles</th>-->
<!--        <th style="width: 20%"></th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr *ngFor="let user of users">-->
<!--        <td>{{user.username}}</td>-->
<!--        <td>{{user.roles.join(", ")}}</td>-->
<!--        <td>-->
<!--          <button (click)="openRolesModal(user)" class="btn btn-info" style="background-color: cornflowerblue">Edit Roles</button>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</div>
