<div *ngIf="currentMember && post && !isDisabled" class="card mb-4">
  <div class="card hover-box" [routerLink]="['/posts/', post.id]">
    <h4 class="card-header">{{post.title}}</h4>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="col-8">
            <h5 class="card-title">{{post.postUsername}}</h5>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-end">
            <div>
              <p class="card-title p-0 m-0">{{post.postLocationName}}</p>
              <p class="card-title pt-0 mt-0">{{post.dateCreated | date}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="col-6">
          <p class="card-text">{{post.description}}</p>
        </div>
        <div class="col-6">
          <a [routerLink]="['/posts/edit', post.id]" class="btn btn-primary">Edit</a>
          <a (click)="deletePost(post.id)" (click)="$event.stopImmediatePropagation()"
             class="btn btn-primary">Delete</a>
          <a class="btn btn-primary">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</div>
