<ng-container *ngIf="(translationsService.translationsSource$ | async) as dict">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Volunteers' Help Center</a>

      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="accountService.currentMember$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/posts" routerLinkActive="active">{{dict["PostsPlaceholder"]}}</a>
          </li>
        </ng-container>
        <ng-container *ngIf="accountService.currentMember$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/subscriptions" routerLinkActive="active">{{dict["MySubscriptionsPlaceholder"]}}</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ul>

      <!--    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>-->
      <!--      <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">-->
      <!--      <a class="dropdown-toggle text-light ms-2" style="text-decoration: none"-->
      <!--         dropdownToggle>Welcome {{user.knownAs || user.username | titlecase}}</a>-->
      <!--      <div class="dropdown-menu mt-3" *dropdownMenu>-->
      <!--        <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>-->
      <!--        <div class="dropdown-divider"></div>-->
      <!--        <a class="dropdown-item" (click)="logout()">Logout</a>-->
      <!--      </div>-->
      <!--    </div>-->

      <img *ngIf="languagesService.currentLanguageSource$ | async" src="assets/{{(languagesService.currentLanguageSource$ | async).name}}.png" class="img-fluid" style="height: 20px;"
           alt="{{(languagesService.currentLanguageSource$ | async).name}}'s Flag">

      <div class="dropdown mx-2" *ngIf="(languagesService.languagesSource$ | async)" dropdown>
        <a class="dropdown-toggle text-light ms-2" style="text-decoration: none"
           dropdownToggle>Select Language</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <ul>
            <li *ngFor="let language of (languagesService.languagesSource$ | async)">
              <a class="dropdown-item" (click)="setCurrentLanguage(language.id)">{{language.name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="dropdown mx-2" *ngIf="accountService.currentMember$ | async" dropdown>
        <a class="dropdown-toggle text-light ms-2" style="text-decoration: none"
           dropdownToggle>Welcome {{(accountService.currentMember$ | async).username | titlecase}}</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a routerLink="/profile" class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <button *ngIf="!(accountService.currentMember$ | async)"
              class="btn btn-success mx-2 my-2 my-sm-0"
              (click)="login()">
        Login
      </button>

      <button *ngIf="!(accountService.currentMember$ | async)"
              class="btn btn-success mx-2 my-2 my-sm-0"
              (click)="register()">
        Register
      </button>

      <!--    <button *ngIf="(accountService.currentUser$ | async)"-->
      <!--            class="btn btn-success my-2 my-sm-0"-->
      <!--            (click)="login()">Login-->
      <!--    </button>-->

      <!--    <button *ngIf="(accountService.currentUser$ | async) === null"-->
      <!--            class="btn btn-success my-2 my-sm-0"-->
      <!--            (click)="register()">Register-->
      <!--    </button>-->

      <!--    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex mt-2 mt-md-0"-->
      <!--          (ngSubmit)="login()" autocomplete="off">-->
      <!--      <input-->
      <!--        name="username"-->
      <!--        [(ngModel)]="model.username"-->
      <!--        class="form-control me-sm-2"-->
      <!--        type="text"-->
      <!--        placeholder="Username">-->
      <!--      <input-->
      <!--        name="password"-->
      <!--        [(ngModel)]="model.password"-->
      <!--        class="form-control me-sm-2"-->
      <!--        type="password"-->
      <!--        placeholder="Password">-->
      <!--      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>-->
      <!--    </form>-->
    </div>
  </nav>
</ng-container>

