<ng-container *ngIf="{noop: ((accountService.currentMember$ | async) &&
                      (translationsService.translationsSource$ | async) &&
                       currentMember && profileMember && profileId),
                       dict: (translationsService.translationDictSource$ | async)} as sources">
  <ng-container *ngIf="sources.dict as _">
    <ng-container *ngIf="sources.dict as dict">
      <div>
        <div class="row justify-content-between">
          <div class="col-9">
            <h2>{{dict["ProfilePlaceholder"] + profileMember.username}}</h2>
          </div>
        </div>

        <hr>

        <div class="d-flex justify-content-evenly">
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <div>
                  <strong>Username:</strong>
                  <p>{{profileMember.username}}</p>
                </div>
                <div>
                  <strong>Age:</strong>
                  <p>{{profileMember.age}}</p>
                </div>
                <div>
                  <strong>Description:</strong>
                  <textarea>{{profileMember.about}}</textarea>
                </div>
                <div>
                  <strong>Phone number:</strong>
                  <p>{{profileMember.phoneNumber}}</p>
                </div>
                <div>
                  <strong>Last active:</strong>
                  <p>{{profileMember.lastActive | timeago}}</p>
                </div>
                <div>
                  <strong>Member since:</strong>
                  <p>{{profileMember.dateCreated | date: 'dd MMM yyyy'}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <button class="btn btn-lg btn-success" (click)="addSubscriptionForMember()">{{dict["SubscribeToThisUserPlaceholder"]}}</button>
          </div>
        </div>

        </div>

    </ng-container>
  </ng-container>
</ng-container>
