<div class="mb-3">
  <label for="myInput" class="form-label" style="font-weight: bold">{{label}}</label>
    <input
      id="myInput"
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      type="{{type}}"
      class="form-control"
      [formControl]="$any(ngControl.control)"
      placeholder="{{label}}">

  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}}
  </div>
  <div *ngIf="type === 'number' && ngControl.control.errors?.max" class="invalid-feedback">
    {{label}} must be at most {{ngControl.control.errors.max['max']}}
  </div>
  <div *ngIf="type === 'number' && ngControl.control.errors?.min" class="invalid-feedback">
    {{label}} must be minimum {{ngControl.control.errors.min['min']}}
  </div>
  <!--  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">-->
  <!--    Passwords do not match-->
  <!--  </div>-->
</div>
