<ng-container *ngIf="!isDisabled">
  <div class="col-12" *ngFor="let photo of post.photos">
    <img src="{{photo.url}}" alt="{{photo.url}}" class="img-fluid p-1">

    <div class="col-4">
      <button
        (click)="deletePhoto(photo.id)"
        class="btn btn-danger flex-grow-1">Delete photo
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-5">
      <h3>Add photos</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="card bg-faded p-3 text-center mb-3 my-drop-zone">
        <i class="fa fa-upload fa-3x"></i>
        Drop photos here
      </div>

      Multiple
      <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
    </div>

    <div class="col-8" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th style="width:50%">Name</th>
          <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
        </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="mx-1 btn btn-success btn-sm"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="fa fa-upload"></span> Upload all
        </button>
        <button type="button" class="mx-1 btn btn-warning btn-sm"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="fa fa-ban"></span> Cancel all
        </button>
        <button type="button" class="mx-1 btn btn-danger btn-sm"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="fa fa-trash"></span> Remove all
        </button>
      </div>
    </div>
  </div>

</ng-container>
