<ng-container *ngIf="locations && categories && currentMember && postParams">

  <form #form="ngForm" class="mb-3" (ngSubmit)="loadPosts()" autocomplete="off">
    <div class="mb-4 d-flex justify-content-between">
      <div class="col-3">
        <div class="d-flex justify-content-between">
          <h2>Posts - {{pagination?.totalItems}} found</h2>
          <button
            type="button"
            class="btn btn-primary"
            name="username"
            (click)="loadPosts()"
            [(ngModel)]="postParams.username"
            [btnRadio]="currentMember.username">
            My posts
          </button>
        </div>
      </div>

      <div class="col-6">
        <div class="d-flex justify-content-center">
          <label class="form-label me-2">Posted by user: </label>
          <input type="text" class="form-control ml-1" name="username"
                 [(ngModel)]="postParams.username">
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
      <div class="col-4 px-4">
        <label class="form-label me-2">Category </label>
        <select name="categoryId" class="form-control ms-1" [(ngModel)]="postParams.categoryId">
          <option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </option>
        </select>
        <label class="form-label me-2">Location: </label>
        <select name="locationId" class="form-control ms-1" [(ngModel)]="postParams.locationId">
          <option *ngFor="let location of locations" [value]="location.id">
            {{location.name}}
          </option>
        </select>
      </div>

      <div class="col-6 px-4">
        <button class="btn btn-primary ms-1" type="submit">Apply filters</button>
        <button (click)="resetFilters()" class="btn btn-info ms-1" type="submit">Reset filters</button>

        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          (click)="loadPosts()"
          [(ngModel)]="postParams.orderBy"
          btnRadio="Newest"
        >
          Newest posts
        </button>

        <button
          type="button"
          class="btn btn-primary"
          name="orderBy"
          (click)="loadPosts()"
          [(ngModel)]="postParams.orderBy"
          btnRadio="Oldest">
          Oldest posts
        </button>

        <button routerLink="/posts/add" class="btn btn-lg btn-success">
          <i class="fa fa-plus-square"></i>
        </button>
      </div>
    </div>

    <div *ngIf="posts.length > 0" class="row mt-5">
      <div *ngFor="let post of posts" class="col-6">
        <app-post-card [post]="post"></app-post-card>
      </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        name="currentPage"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>

  </form>
</ng-container>
