<div class="col-4 d-flex mb-4">
  <div class="btn-group" name="container">
    <button class="btn btn-primary mr-2" btnRadio="Unread"
            [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-envelope"></i> Unread
    </button>
    <button class="btn btn-primary mr-2" btnRadio="Inbox"
            [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-envelope-open"></i> Inbox
    </button>
    <button class="btn btn-primary mr-2" btnRadio="Outbox"
            [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-paper-plane"></i> Outbox
    </button>
  </div>
</div>

<div class="row" *ngIf="messages?.length === 0 && !loading">
  <h3>No messages to show</h3>
</div>

<div class="row" *ngIf="messages?.length > 0">
  <table [hidden]="loading" class="messagesTable table table-hover" style="cursor: pointer">
    <thead>
      <tr>
        <th style="width: 40%">Message</th>
        <th style="width: 20%">From / To</th>
        <th style="width: 20%">Sent / Received</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <!-- on clicking the table row, it routes to the member detail page of the sender or receiver -->
      <tr
          *ngFor="let message of messages"
          routerLink='{{container === "Outbox" ? "/members/" + message.recipientUsername
                                               : "/members/" + message.senderUsername}}'
          [queryParams]="{tab: 3}">
        <td>{{message.content}}</td>
        <td>
          <div *ngIf="container === 'Outbox'">
            <img
              class="img-circle rounded-circle me-2"
              src="{{message.recipientPhotoUrl || './assets/user.png'}}"
              alt="{{message.recipientUsername}}">
            <strong>{{message.recipientUsername | titlecase}}</strong>
          </div>
          <div *ngIf="container !== 'Outbox'">
            <img
              class="img-circle rounded-circle me-2"
              src="{{message.senderPhotoUrl || './assets/user.png'}}"
              alt="{{message.senderUsername}}">
            <strong>{{message.senderUsername | titlecase}}</strong>
          </div>
        </td>
        <td>{{message.messageSent | timeago}}</td>
        <td>
          <!-- first click event stops routing to the member detailed page of the table row clicked (see above commentary) -->
          <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)"
                  class="btn btn-danger"
                  style="background-color: indianred">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && !loading && messages?.length > 0">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
