<div class="container mt-5">
  <div style="text-align: center;">
    <h1>
      Come help others by being a volunteer!
    </h1>

    <h2>
      If you are looking for help, search for posts on a lot of categories!
    </h2>

    <hr>
    <br>

    <h3 class="lead">
      Volunteers' Help Center Home Page
    </h3>

    <br><br>

    <h3 class="lead">
      Login or register in the top right corner!
    </h3>

    <!--    <div *ngIf="!registerMode" class="text-center">-->
    <!--      <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>-->
    <!--      <button class="btn btn-info btn-lg me-2">Learn more</button>-->
    <!--    </div>-->
  </div>

  <!--  <div *ngIf="registerMode" class="container">-->
  <!--    <div class="row justify-content-center">-->
  <!--      <div class="col-4">-->
  <!--        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
