<ng-container *ngIf="{noop: ((accountService.currentMember$ | async) &&
                      (translationsService.translationsSource$ | async) &&
                       currentMember && currentPost && postId),
                       dict: (translationsService.translationDictSource$ | async)} as sources">
  <ng-container *ngIf="sources.noop as _">
    <ng-container *ngIf="sources.dict as dict">

      <div class="row justify-content-between">
        <div class="col-4">
          <h2>Edit post</h2>
        </div>
      </div>

      <hr>

      <div class="d-flex">
        <div class="col-4">
          <label class="form-label" style="font-weight: bold">Location</label>
          <button (click)="addSubscriptionForLocation(this.currentPost.postLocationId)"
                  class="btn btn-sm btn-info">{{this.currentPost.postLocationName}}</button>

          <label class="form-label" style="font-weight: bold">Category</label>
          <button (click)="addSubscriptionForCategory(this.currentPost.postCategoryId)"
                  class="btn btn-sm btn-info">{{this.currentPost.postCategoryName}}</button>

          <label class="form-label" style="font-weight: bold">Title</label>
          <textarea class="fa-bold">{{this.currentPost.title}}</textarea>

          <label class="form-label" style="font-weight: bold">Title</label>
          <textarea class="fa-bold">{{this.currentPost.description}}</textarea>

          <button (click)="addSubscriptionForMember()"
                  class="btn btn-lg btn-success">{{dict["SubscribeToThisUserPlaceholder"]}}</button>

        </div>
        <div class="col-8">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <ng-container *ngFor="let photo of currentPost.photos; let index = i;">
                <div *ngIf="index == 0" class="carousel-item active">
                  <img [src]="photo.url" class="d-block w-100" alt="Prima poza">
                </div>
                <div *ngIf="index > 0" class="carousel-item">
                  <img [src]="photo.url" class="d-block w-100" alt="A + {{index}} + -a poza">
                </div>
              </ng-container>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

    </ng-container>
  </ng-container>
</ng-container>

