<div class="modal-header">
  <h4 class="modal-title pull-left">
    {{title}}
  </h4>
</div>

<div class="modal-body">
  <p>{{message}}</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="confirm()">{{btnOkText}}</button>
  <button type="button" class="btn btn-danger" (click)="decline()">{{btnCancelText}}</button>
</div>
