<div *ngIf="currentMember && subscription && !isDisabled" class="card mb-4">
  <div class="card">
    <h4 *ngIf="subscription.forUserId" class="card-header">Subscription for {{subscription.forUsername}}</h4>
    <h4 *ngIf="subscription.forCategoryId" class="card-header">Subscription for {{subscription.forCategoryName}}</h4>
    <h4 *ngIf="subscription.forLocationId" class="card-header">Subscription for {{subscription.forLocationName}}</h4>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="col-6">
          <p class="card-title pt-0 mt-0">{{subscription.dateCreated | date}}</p>
        </div>
        <div class="col-6">
          <a (click)="deleteSubscription(subscription.id)" (click)="$event.stopImmediatePropagation()"
             class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
