<div *ngIf="accountService.currentMember$ | async" class="col-12">
  <header>Welcome to Volunteers' Help Center, {{(accountService.currentMember$ | async).username}}!</header>

  <hr>

  <div class="row d-flex justify-content-center">
    <button class="btn btn-primary btn-success" routerLink="/profile">My profile</button>
    <button class="btn btn-primary btn-success" routerLink="/posts">Go to posts</button>
  </div>
</div>
