<div class="mb-3">
  <label for="myInput" class="form-label" style="font-weight: bold">{{label}}</label>
  <textarea
    id="myInput"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    class="form-control"
    [formControl]="$any(ngControl.control)"
    placeholder="{{label}}"
    rows="{{rows}}"></textarea>

  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}}
  </div>
</div>

