<ng-container *ngIf="{noop: ((accountService.currentMember$ | async) &&
                      (translationsService.translationsSource$ | async) &&
                       currentMember && myForm && !isDisabledByChild), dict: (translationsService.translationDictSource$ | async)} as sources">
  <ng-container *ngIf="sources.noop as _">
    <ng-container *ngIf="sources.dict as dict">

      <div class="row justify-content-between">
        <div class="col-4">
          <h2>Edit post</h2>
        </div>

        <div class="col-6">
          <div class="alert alert-info" *ngIf="myForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost!
          </div>
        </div>
      </div>

      <hr>

      <div class="d-flex">
        <div class="col-4">
          <form [formGroup]="myForm" (ngSubmit)="myForm.valid && updatePost()" autocomplete="off">
            <app-text-input [formControl]='$any(myForm.controls["title"])'
                            [label]='"Title"'></app-text-input>
            <label for="selectLocationOptions" class="form-label" style="font-weight: bold">Select a location</label>
            <select
              id="selectLocationOptions"
              class="form-select mb-3"
              formControlName="postLocationId"
              [ngClass]="{'is-invalid':myForm.controls.postLocationId.touched && myForm.controls.postLocationId.errors}"
            >
              <option value="">Select a location</option>
              <option *ngFor="let location of locations" [ngValue]="location.id">
                {{ location.name }}
              </option>
            </select>
            <div *ngIf="myForm.controls.postLocationId.touched && myForm.controls.postLocationId.errors"
                 class="invalid-feedback mb-3">
              Please select a valid location
            </div>
            <label for="selectCategoryOptions" class="form-label" style="font-weight: bold">Select a category</label>
            <select
              id="selectCategoryOptions"
              class="form-select mb-3"
              formControlName="postCategoryId"
              [ngClass]="{'is-invalid':myForm.controls.postCategoryId.touched && myForm.controls.postCategoryId.errors}"
            >
              <option value="">Select a category</option>
              <option *ngFor="let category of categories" [ngValue]="category.id">
                {{ category.name }}
              </option>
            </select>
            <div class="invalid-feedback mb-3"
                 *ngIf="myForm.controls.postCategoryId.touched && myForm.controls.postCategoryId.errors">
              Please select a valid category
            </div>
            <app-text-area-input [formControl]='$any(myForm.controls["description"])'
                                 [rows]='"7"' [label]='"Description"'></app-text-area-input>

            <button [disabled]="!myForm.dirty || !myForm.valid" class="btn btn-lg btn-success" type="submit">
              Update Post
            </button>
          </form>
        </div>
        <div class="col-8">
          <div class="d-flex justify-content-end">
            <app-post-photo-editor [post]="currentPost" (emitDisabledByPhotoDelete)="isDisabledByPhotoDelete($event)"></app-post-photo-editor>
          </div>
        </div>
      </div>

    </ng-container>
  </ng-container>
</ng-container>
