<ng-container *ngIf="{noop: ((accountService.currentMember$ | async) &&
                      (translationsService.translationsSource$ | async) &&
                       currentMember), dict: (translationsService.translationDictSource$ | async)} as sources">
  <ng-container *ngIf="sources.dict as _">
    <ng-container *ngIf="sources.dict as dict">
      <div>
        <div class="row justify-content-between">
          <div class="col-9">
            <h2>{{dict["EditYourProfilePlaceholder"]}}</h2>
          </div>

          <div *ngIf="!currentMember.roles.includes('help-center:volunteer'); else greeting_volunteer" class="col-3">
            <button (click)="becomeAVolunteer({id: currentMember.id})"
                    class="btn btn-lg btn-success text-black">Become a volunteer!
            </button>
          </div>
        </div>

        <hr>

        <ng-template #greeting_volunteer>
          <div class="row d-flex justify-content-between">
            <div class="col-4 alert alert-success">
              Thank you for being <strong> a volunteer! </strong>
            </div>

            <div class="col-4">
              <button class="btn btn-info" (click)="protectedAPICall()">Protected API CALL!</button>
            </div>
          </div>
        </ng-template>

        <div class="col-6">
          <div class="alert alert-info" *ngIf="myForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost!
          </div>
        </div>

        <form [formGroup]="myForm" (ngSubmit)="myForm.valid && updateMember()" autocomplete="off">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div>
                    <strong>Username:</strong>
                    <p>{{(accountService.currentMember$ | async).username}}</p>
                  </div>
                  <div>
                    <strong>Age:</strong>
                    <p>{{(accountService.currentMember$ | async).age}}</p>
                  </div>
                  <div>
                    <strong>Phone number:</strong>
                    <p>{{(accountService.currentMember$ | async).phoneNumber}}</p>
                  </div>
                  <div>
                    <strong>Last active:</strong>
                    <p>{{(accountService.currentMember$ | async).lastActive | timeago}}</p>
                  </div>
                  <div>
                    <strong>Member since:</strong>
                    <p>{{(accountService.currentMember$ | async).dateCreated | date: 'dd MMM yyyy'}}</p>
                  </div>
                </div>

                <!--      <div class="card-footer">-->
                <!--        <button [disabled]="!editForm.dirty"-->
                <!--                form="editForm"-->
                <!--                type="submit"-->
                <!--                class="btn btn-success">-->
                <!--          Save changes-->
                <!--        </button>-->
                <!--      </div>-->
              </div>
            </div>

            <div class="col-8">
              <!--    <tabset class="member-tabset">-->
              <!--      <tab heading="About {{member.username}}">-->

              <app-text-input [formControl]='$any(myForm.controls["username"])'
                              [label]='"Username"'></app-text-input>
              <app-text-area-input [formControl]='$any(myForm.controls["about"])'
                                   [label]='"About"'></app-text-area-input>
              <app-number-input [formControl]='$any(myForm.controls["age"])'
                                [label]='"Age"'></app-number-input>
              <app-text-area-input [formControl]='$any(myForm.controls["phoneNumber"])'
                                   [label]='"Phone number"'></app-text-area-input>

              <!--    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">-->
              <!--      <h4 class="mt-2">Username</h4>-->
              <!--      <input class="form-control" required [(ngModel)]="currentMember.username" name="username">-->
              <!--      <h4 class="mt-2">Description</h4>-->
              <!--      <textarea class="form-control" [(ngModel)]="currentMember.about" name="about" rows="6"></textarea>-->
              <!--      <h4 class="mt-2">Age</h4>-->
              <!--      <input class="form-control" min="16" max="120" type="number" [(ngModel)]="currentMember.age" name="age">-->
              <!--      <h4 class="mt-2">Phone number</h4>-->
              <!--      <textarea class="form-control" [(ngModel)]="currentMember.phoneNumber" name="phoneNumber" rows="1"></textarea>-->
              <!--      &lt;!&ndash;          <h4 class="mt-2">Location Details:</h4>&ndash;&gt;-->
              <!--      &lt;!&ndash;          <div class="form-inline">&ndash;&gt;-->
              <!--      &lt;!&ndash;            <label for="city">City: </label>&ndash;&gt;-->
              <!--      &lt;!&ndash;            <input [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">&ndash;&gt;-->
              <!--      &lt;!&ndash;            <label for="country">Country: </label>&ndash;&gt;-->
              <!--      &lt;!&ndash;            <input [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">&ndash;&gt;-->
              <!--      &lt;!&ndash;          </div>&ndash;&gt;-->
              <!--    </form>-->
              <!--      </tab>-->
              <!--      <tab heading="Edit photos">-->
              <!--        <app-photo-editor [member]="member"></app-photo-editor>-->
              <!--      </tab>-->
              <!--    </tabset>-->
            </div>
          </div>

          <button [disabled]="!myForm.dirty || !myForm.valid" class="btn btn-lg btn-success" type="submit">
            Save changes
          </button>
        </form>
      </div>

    </ng-container>
  </ng-container>
</ng-container>
